In [3]:
import pandas as pd

In [6]:
bookings=pd.read_csv("C:/Users/bellcsa/OneDrive - Lam Research/DataScience/gits/Python/hotel_bookings.csv")
bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,MonthNo,DateNo,Arrival_date,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,Monthly Sum,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,7,7/1/2015,July/2015,...,200,200,0,Transient,0.0,0,0,Check-Out,NaN,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,7,7/1/2015,July/2015,...,200,200,0,Transient,0.0,0,0,Check-Out,NaN,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,7,7/1/2015,July/2015,...,200,200,0,Transient,75.0,0,0,Check-Out,NaN,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,7,7/1/2015,July/2015,...,304,200,0,Transient,75.0,0,0,Check-Out,NaN,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,7,7/1/2015,July/2015,...,240,200,0,Transient,98.0,0,1,Check-Out,NaN,7/3/2015

In [9]:
bookings.fillna({'children' : 0, 'country' : '0', 'agent' : 0, 'company' : 0}, inplace = True)